body {
margin: 0;
padding: 0;
height: 100%;
background-image: url("images/moshui.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}



.topnav {
background-color:#333;
overflow: hidden;
display:flex;
justify-content:space-around;
align-items:center;
position: fixed; 
top:0;
width: 100%;
z-index: 1000;
}

.topnav a {
display:flex;
align-items: center;
justify-content: center;
color: #f2f2f2;
padding: 12px 15px ;
text-decoration: none;
font-size: 15px;
width:100%;
height:100%
transition: background-color 0.3s ease;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.icons { 
  color: #f2f2f2;
  padding: 10px 10px;
  text-decoration: none;
}

.fa{font-size: 22px; }

.content {
 margin: 60px 75px;}

.content h1{
font-size:40px;
}

.content h4{
font-size:20px;
}

.table-text {
font-size: 18px;
padding: 20px; 
}

.content h4 a{
color:gold
}
.style1 a {
    color: gold; 
    text-decoration: none; 
}


.style1 a:visited {
    color: gold; }


.style1 a:hover {
    color: yellow; 
}


.style1 a:active {
    color:yellow; 
}


.style2 a {
    color:black ;
    text-decoration: underline; 
}


.style2 a:visited {
    color:black; }


.style2 a:hover {
    color: grey; 
}


.style2 a:active {
    color: grey; 
}
ul.inset {
border-style: inset;
background-color: white;
padding:40px;
font-size:18px;
font-weight: normal;
}

p.inset {
border-style: inset;
background-color: white;
padding:15px;
font-size:18px;
font-weight: normal;
}

.box {
padding: 20px;
        }

.box-in {
            border: 2px solid #ccc;
            padding: 5px;
            margin: 10px 0;
            background-color: #f9f9f9;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

.box-in h3{
padding:20px;
font-size:25px;
margin-bottom: 0px;}

.box-in p{
margin-top: 0;
padding:20px;
font-size:20px;}

h3.inset {
border-style: inset;
background-color: white;
margin:30px 80px;
padding: 20px;
font-size:20px;
text-align: center;
}

.bordered-image {
    border: 5px ridge white; 
    border-radius: 8px; 
    padding: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); }

.image{
text-align: center;}

.image img {
 display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 350px;
  height:250px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.p1 p{
text-align:center;}

.border1 td {
border: 1px solid black;
padding:20px;	
}

.border2 td {
padding:20px;
	
}


.shm img{
border-radius:100%;
}

.hover-effect {
text-align：center;
font-size:18px;
padding:10px;
    transition: transform 0.3s ease;
}



.hover-effect:hover {
    transform: scale(1.1); 
}

footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    margin-top: 15px;
}


footer p{
    margin: 0;
    font-size: 15px;
}


h2.outset {border-style: outset;
         background-color: LightGray;)
